.popular-section {
  padding: 87px 0;
  background-size: cover;
  background-position: center;
  direction: rtl;
}
.top-bar {
  justify-content: center;
  align-items: center;
  margin-bottom: 104.52px;
  direction: rtl;
}

.categories {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 60px;
  font-weight: 400;
  .icon {
    margin-left: 34px;
  }
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 8px 20px 0px #00000040;
  padding: 10px 40px;
  font-size: 30px;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 16px;
}

.product-list {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 60px;
  gap: 25px;
  justify-content: left;
  overflow-x: scroll;
}
.product-list::-webkit-scrollbar {
  display: none;
}

.product-card {
  background-color: white;
  border-radius: 44.61px;
  overflow: hidden;
  box-shadow: 0px 7.14px 17.84px 0px #0000004d;
  min-width: 348px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 44.61px 44.61px 0 44.61px;
  border-bottom-left-radius: 90px;
}

.product-info {
  padding: 30px 15px 15px;
  text-align: right;
  margin-top: -42px;
  border-radius: 0 44.63px 44.63px 44.63px;
  background-color: #fff;
  position: relative;
  height: 150px;
}

.name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22.3px;
}
.name {
  color: #251f1d;
}
.price {
  color: #dd1015;
  direction: ltr;
}

.more {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.more-btn-main {
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-size: 26px;
  cursor: pointer;
}
.go-to-home {
  color: #fff;
  background-color: #22935f;
  border-radius: 8px;
  padding: 8px 20px;
  border: none;
  font-size: 26px;
}
